#content{
	display: none;
}
section {
	width: 860px;
	height: 560px;
	margin-top: 100px;
	padding: 50px ;
}

#employee_name, #employee_location {
	width: 350px;
	display: inline-table;
	margin-left: 50px;
	margin-bottom: 30px;
}


button:hover {
	background: rgb(219, 219, 219); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(219, 219, 219,1) 0%, rgba(218, 218, 218,1) 0%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(219, 219, 219,1)), color-stop(0%,rgba(218, 218, 218,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(219, 219, 219,1) 0%,rgba(218, 218, 218,1) 0%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(219, 219, 219,1) 0%,rgba(218, 218, 218,1) 0%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(219, 219, 219,1) 0%,rgba(218, 218, 218,1) 0%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(219, 219, 219,1) 0%,rgba(218, 218, 218,1) 0%); /* W3C */
}

form {
	display: inline-block;
	padding: 10px;
	border-radius: 10px;
	background: rgba(255,255,255,0.5);
}

#button_bar button {
	border:1px solid;
	border-radius: 5px;
	padding: 5px;
	cursor: pointer;
}

#button_bar {
	padding-left: 113px;
}

select option {
	width: 150px;
    height: 20px;
}
p {
	font-size: 20px;
	text-align: center;
}

#employee_location p {
	margin-left: 48px;
}

#employee_name p {
	margin-right: 120px;
}

select {
    float:right;
	width: 200px;
	border-radius: 5px;
	background: rgb(226,226,226); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(226,226,226,1) 0%, rgba(254,254,254,1) 50%, rgba(219,219,219,1) 54%, rgba(219,219,219,1) 68%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(50%,rgba(254,254,254,1)), color-stop(54%,rgba(219,219,219,1)), color-stop(68%,rgba(219,219,219,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(254,254,254,1) 50%,rgba(219,219,219,1) 54%,rgba(219,219,219,1) 68%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(254,254,254,1) 50%,rgba(219,219,219,1) 54%,rgba(219,219,219,1) 68%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(254,254,254,1) 50%,rgba(219,219,219,1) 54%,rgba(219,219,219,1) 68%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(226,226,226,1) 0%,rgba(254,254,254,1) 50%,rgba(219,219,219,1) 54%,rgba(219,219,219,1) 68%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
	border: 1px solid gray;
}

.enter_data, .delete_data {
    width:400px;
}

.enter_data input {
	width: 200px;
	-o-border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid gray;
}

.delete_data input {
	width: 200px;
	-o-border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid gray;
}


#employee_form label{
margin-top:-200px;
}

#emp_submit, #emp_submit1, #delete, #delete1, #update, #update1 {
	margin: 17px 0 0 330px;
	border:1px solid;
	border-radius: 3px;
}
#admin_submit {
	margin: 17px 0 0 350px;
	border:1px solid;
	border-radius: 3px;
}

#loc_submit {
	margin: 17px 0 0 250px;
	border:1px solid;
	border-radius: 3px;
}

#location_form {
	width: 300px;
	position: relative;
	top: 10px;
	display: none;
	float: right;
	margin-right: 150px;
}

#employee_form {
	width: 450px;
	margin-top: 10px;
	display: none;
	float: left;
}

#location, #employees input{
	float:right;
}
/*
#employees {
	margin-right: 90px;
}
*/
#location {
	/*margin-right: 110px;*/
}

#assign_form {
	width: 350px;
	display: none;
	margin-left: 210px;
    margin-top: 20px;
    padding: 21px;
}

#assign_form label {
	float: left;
	margin: 0px;
}

#assign_form input {
	float: right;
	width: 180px;
	margin: 0px 23px 4px 0px;
}

#assign_form #location {
	margin-left: 82px;
}

footer p {
	font-size: 17px;
	font-family: Arial, Verdana;
	margin: 10px;
	float: left;
}

footer {
	margin-top: 120px;
	margin-bottom: 20px;
}

footer a {
	text-decoration: none;
}

footer a:hover {
	background: rgb(195,217,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(195,217,255,1) 0%, rgba(177,200,239,1) 41%, rgba(195,217,255,1) 55%, rgba(152,176,217,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(195,217,255,1)), color-stop(41%,rgba(177,200,239,1)), color-stop(55%,rgba(195,217,255,1)), color-stop(100%,rgba(152,176,217,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(195,217,255,1) 0%,rgba(177,200,239,1) 41%,rgba(195,217,255,1) 55%,rgba(152,176,217,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(195,217,255,1) 0%,rgba(177,200,239,1) 41%,rgba(195,217,255,1) 55%,rgba(152,176,217,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(195,217,255,1) 0%,rgba(177,200,239,1) 41%,rgba(195,217,255,1) 55%,rgba(152,176,217,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(195,217,255,1) 0%,rgba(177,200,239,1) 41%,rgba(195,217,255,1) 55%,rgba(152,176,217,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3d9ff', endColorstr='#98b0d9',GradientType=0 ); /* IE6-9 */
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
}

#del_location {
	display: none;
	margin-left: 279px;
    margin-top: 30px;
}

#del_employee {
	display: none;
	margin-left: 110px;
}

#edit_employee {
	display: none;
	margin-left: 300px;
}

#edit_employee input {
	margin: 10px 0 10px 52px;
    width: 174px;
    -o-border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid gray;
	float: right;
}

#edit_employee button {
	font-size: 15px;
    height: 22px;
    width: 73px;
	-o-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid gray;
	float: right;
}

#edit_employee label {
	float: left;
}

#del_location button {
	font-size: 15px;
    width: 73px;
	-o-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid gray;
	float: right;
	height: 23px;
    margin-left: 20px;
}

#del_employee button {
	font-size: 15px;
    width: 73px;
	-o-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid gray;
	float: right;
	height: 23px;
    margin-left: 20px;
}

nav li{
	display: inline;
}
nav ul #logout {
	float: right;
}
#login{
	float: right;
	
}
#assing_submit {
    margin-top:25px;
    margin-left:300px;
}

#delete_data, #update_data {
	float: left;
	display: none;
}

 #delete_day_data, #update_day_data {
 	float: right;
 	display: none;
 }

 #add_data, #add_data_day {
 	display: none;
 }



