body, div, ul, li , a {
	margin: 0;
	padding: 0;
}

body {
	  background-image: url("images/bg.jpg");
	  background-position: center;
	  background-repeat:  no-repeat ; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  font-family: Arial, Verdana, Serif;
}
#wrapper {
	margin: 50px auto;
	width: 960px;
	background: transparent;
}
#options{
	padding: 10px;
	font-size: 20px;
	color: #000;
	background-color: rgba(255,255,255,0.5);
	
}
#options li{
	display: inline;
	padding: 5px;
}


/*------------ Header and navigation--------------*/

header {
	width: 960px;
	height: 45px;
	color:#fff;
}

nav {
	width:940px;
	padding: 10px;
	font-size: 20px;
	color: #000;
	background-color: rgba(255,255,255,0.5);
	border-radius: 10px 10px 0 0;
}

nav li{
	display: inline;
	padding: 5px;
}

nav a {
	color: inherit;
	text-decoration: none;
}

nav li:hover, #options li:hover {
	background: rgb(30,87,153); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(51%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
	color:#222;
	border-radius: 10px;
}
.register{
	width: auto;
	height: 45px;
	font-size: 20px;
}

.register li{
	display: inline;
	padding: 5px;
}

/*------------ Actual content--------------*/
#wrapper-content {
	width:960px;
	height:550px;
}
section {
	width: 960px;
	height: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: rgba(255,255,255,0.7);
	border-right: #f5f5f5 1px solid ;
}



.weather_info{
	background-color: rgba(255,255,255,0.7);
	width: 300px;
	margin:30px auto;
}

#location {
	width: 200px;
	height: 30px;
	background: rgb(30,87,153); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(51%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
	border: 1px solid rgb(32, 124, 202);
    font-size: 20px;
    margin: 10px;

}

#result {
	background-color: rgba(255,255,255,0.5);
	font-size: 20px;
    margin: 30px auto;
    padding: 30px;
    width: 180px;
	display: none;

}
.hour_data{
	background-color: rgba(255,255,255,0.7);
	padding: 10px;
	border:1px dashed #000;
	display: inline-block;
}

/*------------ Floats and clear--------------*/
.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	min-height:0;
	zoom:1;
}
.clear:after {
	content:"";
	clear:both;
	display:inline-block;
}

#locationweather_info {
	width: 300px;
	height: 40px;
	font-size: 30px;
	border-radius: 7px;
	border: 1px solid gray;
	margin: 10px;
	background: rgb(195,217,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(195,217,255,1) 0%, rgba(177,200,239,1) 41%, rgba(195,217,255,1) 55%, rgba(152,176,217,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(195,217,255,1)), color-stop(41%,rgba(177,200,239,1)), color-stop(55%,rgba(195,217,255,1)), color-stop(100%,rgba(152,176,217,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(195,217,255,1) 0%,rgba(177,200,239,1) 41%,rgba(195,217,255,1) 55%,rgba(152,176,217,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(195,217,255,1) 0%,rgba(177,200,239,1) 41%,rgba(195,217,255,1) 55%,rgba(152,176,217,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(195,217,255,1) 0%,rgba(177,200,239,1) 41%,rgba(195,217,255,1) 55%,rgba(152,176,217,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(195,217,255,1) 0%,rgba(177,200,239,1) 41%,rgba(195,217,255,1) 55%,rgba(152,176,217,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3d9ff', endColorstr='#98b0d9',GradientType=0 ); /* IE6-9 */
}

#sofia_today_field, #plovdiv_today_field, #stara_zagora_today_field {
    height: 343px;
    margin-left: 144px;
    width: 280px;
    margin-top: 30px;
    display: none;
}

#field_24, #field_5day {
    height: 343px;
    margin-top: 30px;
    display: inline;
    display: none;
}

#day_date_0,#day_date_1,#day_date_2,#day_date_3,#day_date_4{
	width:150px;
	padding: 12px;
	display: inline-block;
	
}

#day_date_0,#day_date_1,#day_date_2,#day_date_3,#day_date_4 img{
    margin-left:10px;
    
}
.forward, .forward1 {
width:50px;
height:50px;
float: right;
margin-top: -30px;
background: url("images/forward.png") no-repeat scroll 0 0 transparent;
}

.back, .back1 {
width:50px;
height:50px;
float: left;
margin-top: -30px;
background: url("images/back.png") no-repeat scroll 0 0 transparent;
}

.back{
    margin-top:-260px;
}
.forward{
    margin-top:-260px;
}

.date_new, .temperature_new, .humidity_new, .hour_new {
	width: 141px;
	height: 20px;
	border-radius: 3px;
	font-size: 12px;
	border: 1px solid gray;
	float: right;
}


 
p {
 	font-size: 30px;
 	margin-left: 60px;
 }

 .hour_0, .hour_1, .hour_2, .hour_3, .hour_4, .hidden_fields1, .hidden_fields2 {
 	display: table-cell;
 	width: 150px;
 	padding: 30px ;
 	border-left: 1px dotted gray;
 	border-right: 1px dotted gray;
 }


 .hidden_fields1, .hidden_fields2 {
 	display: none;
 }

#tempgraph, #humgraph{
	width:800px !important;
	height: 260px !important;
	font-size: 12px !important;
	display: none;
}





/*------------ Footer --------------*/
footer {
	width: 960px;
	height: 45px;
	background-color: rgba(255,255,255,0.7);
	border-radius: 0 0 10px 10px;
	margin-top: 210px;
}

footer p {
	font-size: 17px;
	font-family: Arial, Verdana;
	margin: 10px;
	float: left;
}

footer a {
	text-decoration: none;
}

footer a:hover {
	background: rgb(195,217,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(195,217,255,1) 0%, rgba(177,200,239,1) 41%, rgba(195,217,255,1) 55%, rgba(152,176,217,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(195,217,255,1)), color-stop(41%,rgba(177,200,239,1)), color-stop(55%,rgba(195,217,255,1)), color-stop(100%,rgba(152,176,217,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(195,217,255,1) 0%,rgba(177,200,239,1) 41%,rgba(195,217,255,1) 55%,rgba(152,176,217,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(195,217,255,1) 0%,rgba(177,200,239,1) 41%,rgba(195,217,255,1) 55%,rgba(152,176,217,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(195,217,255,1) 0%,rgba(177,200,239,1) 41%,rgba(195,217,255,1) 55%,rgba(152,176,217,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(195,217,255,1) 0%,rgba(177,200,239,1) 41%,rgba(195,217,255,1) 55%,rgba(152,176,217,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3d9ff', endColorstr='#98b0d9',GradientType=0 ); /* IE6-9 */
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
}