label {
	float: left;
}

input {
	float: right;
}

#enter_data {
	height: 150px;
    width: 400px;
}

#enter_data2 {
	height: 150px;
    width: 400px;
}

#emp_submit {
	margin: 0px; 	
	float: right;
}

select {
	float: right;
	width: 142px;
	height: 20px;
}

input {
	border-radius: 2px;
	border:1px solid gray;
}

button:hover {
	background: rgb(219, 219, 219); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(219, 219, 219,1) 0%, rgba(218, 218, 218,1) 0%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(219, 219, 219,1)), color-stop(0%,rgba(218, 218, 218,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(219, 219, 219,1) 0%,rgba(218, 218, 218,1) 0%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(219, 219, 219,1) 0%,rgba(218, 218, 218,1) 0%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(219, 219, 219,1) 0%,rgba(218, 218, 218,1) 0%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(219, 219, 219,1) 0%,rgba(218, 218, 218,1) 0%); /* W3C */
}

#second_form {
	height: 150px;
    padding-bottom: 40px;
    padding-top: 50px;
}

nav ul #logout {
	float: right;
}


footer p {
	font-size: 17px;
	font-family: Arial, Verdana;
	margin: 10px;
	float: left;
}

footer {
	margin-top: 0px;
}

footer a {
	text-decoration: none;
}

footer a:hover {
	background: rgb(195,217,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(195,217,255,1) 0%, rgba(177,200,239,1) 41%, rgba(195,217,255,1) 55%, rgba(152,176,217,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(195,217,255,1)), color-stop(41%,rgba(177,200,239,1)), color-stop(55%,rgba(195,217,255,1)), color-stop(100%,rgba(152,176,217,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(195,217,255,1) 0%,rgba(177,200,239,1) 41%,rgba(195,217,255,1) 55%,rgba(152,176,217,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(195,217,255,1) 0%,rgba(177,200,239,1) 41%,rgba(195,217,255,1) 55%,rgba(152,176,217,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(195,217,255,1) 0%,rgba(177,200,239,1) 41%,rgba(195,217,255,1) 55%,rgba(152,176,217,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(195,217,255,1) 0%,rgba(177,200,239,1) 41%,rgba(195,217,255,1) 55%,rgba(152,176,217,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3d9ff', endColorstr='#98b0d9',GradientType=0 ); /* IE6-9 */
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
}

