body, div, ul, li , a {
	margin: 0;
	padding: 0;
}

body {
	  background-image: url("images/bg.jpg");
	  background-position: center;
	  background-repeat:  no-repeat ; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  font-family: Arial, Verdana, Serif;
}
#wrapper {
	margin: 50px auto;
	width: 960px;
	height: 1000px;
	background: transparent;
}


/*------------ Header and navigation--------------*/

header {
	width: 960px;
	height: 45px;
}

nav {
	width:960px;
	padding-top: 10px;
	font-size: 20px;
	color: #000;
	background-color: rgba(255,255,255,0.5);
	border-radius: 10px 10px 0 0;
}

nav li {
	display: inline;
	padding: 5px;
}

nav a {
	color: inherit;
	text-decoration: none;
}

nav li:hover {
	background-color: rgb(30,87,153); /* Old browsers */
	background-color: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6+ */
	background-color: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(51%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
	background-color: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
	background-color: -o-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
	background-color: -ms-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* IE10+ */
	background-color: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

	color:#222;
	border-radius: 10px;
}
.register {
	width: auto;
	height: 45px;
	font-size: 20px;
}

.register li {
	display: inline;
	padding: 5px;
}

/*------------ Actual content--------------*/
#wrapper-content {
	width:960px;
	 height:550px;
}
section {
	width: 659px;
	height: 500px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: rgba(255,255,255,0.7);
	border-right: #f5f5f5 1px solid ;
}

aside {
	width: 300px;
	height: 500px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: rgba(230,230,250,0.7);
}

.aside_header {
	margin:10px 0  ;
	padding: 10px;
	font-size: 20px;
	background-color: #FFFFF5;
	text-align: center;
}



/*------------ Footer --------------*/
footer {
	width: 960px;
	height: 45px;
	background-color: rgba(255,255,255,0.7);
	border-radius: 0 0 10px 10px;
}


/*------------ Floats and clear--------------*/
.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	min-height:0;
	zoom:1;
}
.clear:after {
	content:"";
	clear:both;
	display:inline-block;
}