body, div, ul, li , a {
	margin: 0;
	padding: 0;
}

body {
	  background-image: url("images/bg.jpg");
	  background-position: center;
	  background-repeat:  no-repeat ; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  font-family: Arial, Verdana, Serif;
}
#wrapper {
	margin: 50px auto;
	width: 960px;
	height: 1000px;
	background: transparent;
}


/*------------ Header and navigation--------------*/

header {
	width: 960px;
	height: 45px;
}

nav {
	width:960px;
	padding-top: 10px;
	font-size: 20px;
	color: #000;
	background-color: rgba(255,255,255,0.5);
	border-radius: 10px 10px 0 0;
}

nav li{
	display: inline;
	padding: 5px;
}

nav a {
	color: inherit;
	text-decoration: none;
}

nav li:hover {
	background-color: rgba(255,255,255,0.5);
	color:#222;
	border-radius: 10px;
}
.register{
	width: auto;
	height: 45px;
	font-size: 20px;
}

.register li{
	display: inline;
	padding: 5px;
}

/*------------ Actual content--------------*/
#wrapper-content{
	width:960px;
	 height:550px;
}
section{
	width: 659px;
	height: 500px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: rgba(255,255,255,0.7);
	border-right: #f5f5f5 1px solid ;
}

aside{
	width: 300px;
	height: 500px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: rgba(230,230,250,0.7);
}

.aside_header{
	margin:10px 0  ;
	padding: 10px;
	font-size: 20px;
	background-color: #FFFFF5;
	text-align: center;
}



/*------------ Footer --------------*/
footer{
	width: 960px;
	height: 45px;
	background-color: rgba(255,255,255,0.7);
	border-radius: 0 0 10px 10px;
}


/*------------ Floats and clear--------------*/
.left{
	float: left;
}

.right{
	float: right;
}

.clear{
	min-height:0;
	zoom:1;
}
.clear:after{
	content:"";
	clear:both;
	display:inline-block;
}